@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">VISIT COUNTER</h1>
    <div class="align-content-center">
        Número de visitantes: <p id ="visitNumber"></p>
    </div>
</div>
